.page-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/Prancheta\ 3.jpg);
    background-size: cover;
}
.titulo{
    font-size: 300%;
    color: aliceblue;
    animation: linhaverso 2s
}

@keyframes linhaverso {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.containerInput{
    background-color: rgba(255, 255, 255, 0,2); /*opacacidade de 20%*/
    margin: 30px 0;
    padding: 15px;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.9);
}
.containerInput input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 30%;
}
.containerInput input::placeholder{
    color: aliceblue;
}
.botaodeprocura{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.botaodeprocura::hover{
    transform: scale(1.2);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 500px;
    border-radius: 8px;
}
.main h2{
    margin: 16px 0;
    font-size: 30px;
}
.main span{
    margin-bottom: 15px;
    font-weight: bold;
}
.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.content-wrap{
    flex: 0.9;
    margin-top: 6%;
    margin-right: -45%;
}
  /*-----RESPONSIVIDADE-----*/
  @media (max-width:620px){
    .titulo{
        font-size: 60px;
    }
    .main{
        width: 80%;
        min-height: 250px;
    }
    .main h2{
        font-size: 28px;
    }
}
@media (max-width:900px){
    .page-container{
        background: url(../img/dispositivo_movel.jpg);
        background-size: cover;
    }
    .titulo{
        font-size: 200%;
        color: aliceblue;
        animation: linhaverso 2s
    }
    .content-wrap{
        margin-top: 65%;
        margin-right: 5%;
    }
}